---
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import Layout from "layouts/Layout.astro";
---

<Layout title="Events">
  <Navbar />
  <main class="h-dvh">
    Hello!
  </main>
  <Footer />
</Layout>