---
import { getEntry } from "astro:content";
import Button from "@components/Button.astro";
import SectionHeader from "@components/SectionHeader.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Layout from "../layouts/Layout.astro";
import CityCard from "@components/CityCard.astro";
import EventCard from "components/EventCard.astro";
import { getCollection } from "astro:content";

const { data: allCities } = await getEntry("city", "cities");
const allEvents = await getCollection('event')
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="relative h-[calc(100dvh+40px)] bg-sky-200">
    <div class="px-4 h-full flex items-center mx-auto max-w-6xl">
      <div class="w-96">
        <h1 class="text-7xl font-bold">Capitals of the future</h1>
        <p class="mt-8">
          The future of our cities. What's it going to be like?
        </p>
      </div>
    </div>
    <div class="absolute bottom-0 h-10 w-full rounded-t-full bg-gray-50"></div>
  </div>
  <div
    class:list={[
      "mt-6 md:h-dvh flex justify-center",
      allCities.length > 6
        ? "md:mt-6 md:h-auto"
        : "md:mt-0 md:h-dvh items-center",
    ]}
  >
    <div class="max-w-6xl w-full px-4">
      <SectionHeader title="3 cities" />
      <p class="font-bold text-5xl">Many connections.</p>
      <div class="mt-14 grid grid-cols-1 md:grid-cols-3 gap-4">
        {allCities.map((city) => <CityCard {...city} />)}
      </div>
    </div>
  </div>
  <div>
    <div
      class:list={[
        "max-w-6xl px-4 mx-auto mt-16",
        allCities.length > 6 ? "md:mt-16" : "md:mt-2",
      ]}
    >
      <SectionHeader title="Upcoming events" />
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-6 gap-x-4 gap-y-7"
      >
        {allEvents.map((event) => {
          return <EventCard {...event.data} />
        })}
      </div>
      <a href="/events">
        <Button label="View all events" className="mt-8 mb-16" />
      </a>
      <SectionHeader title="Latest research" />
      <SectionHeader title="Latest news" />
    </div>
  </div>
</Layout>
