---
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import Layout from "layouts/Layout.astro";
import ContentContainer from "@components/ContentContainer.astro";
import SectionHeader from "@components/SectionHeader.astro";
import { Picture } from "astro:assets";
import singapore from "@assets/singapore.jpg";
---

<Layout title="Events">
  <Navbar />
  <header class="pt-32 pb-6 relative">
    <div class="max-w-6xl px-4 mx-auto">
      <div class="flex gap-1">
        <h1 class="font-bold text-5xl">Information</h1>
      </div>
    </div>
  </header>
  <main>
    <ContentContainer>
      <div class="max-w-6xl px-4 mx-auto">
        <div
          class:list={[
            "min-h-lvh grid grid-cols-1 lg:grid-cols-5 gap-x-12 items-center",
          ]}
        >
          <div
            class="grid grid-cols-3 lg:grid-cols-1 lg:grid-rows-3 lg:col-span-3"
          >
            <div
              class="rounded-full odd:mt-8 even:mb-8 overflow-hidden lg:flex lg:items-center lg:rounded-full lg:odd:ml-16 lg:even:mr-16 lg:odd:mt-0 lg:even:mb-0 lg:aspect-[24/9]"
            >
              <Picture
                class="h-96 object-cover lg:object-fill lg:h-full"
                src={singapore}
                alt=""
                formats={["avif", "webp"]}
              />
            </div>
            <div
              class="rounded-full odd:mt-8 even:mb-8 overflow-hidden lg:flex lg:items-center lg:rounded-full lg:odd:ml-16 lg:even:mr-16 lg:odd:mt-0 lg:even:mb-0 lg:aspect-[24/9]"
            >
              <Picture
                class="h-96 object-cover lg:object-fill lg:h-full"
                src={singapore}
                alt=""
                formats={["avif", "webp"]}
              />
            </div>
            <div
              class="rounded-full odd:mt-8 even:mb-8 overflow-hidden lg:flex lg:items-center lg:rounded-full lg:odd:ml-16 lg:even:mr-16 lg:odd:mt-0 lg:even:mb-0 lg:aspect-[24/9]"
            >
              <Picture
                class="h-96 object-cover lg:object-fill lg:h-full"
                src={singapore}
                alt=""
                formats={["avif", "webp"]}
              />
            </div>
          </div>
          <div class="lg:col-span-2">
            <SectionHeader title="Our vision" />
            <p class="mt-8">
              Our research seeks to understand the interaction between
              imaginations of the future, discourses of urban planning and
              pathways of urban development. Interdisciplinary in thrust, our
              research involves geography, sociology, history, and planning
              studies
            </p>
          </div>
        </div>
      </div>
    </ContentContainer>
    <Footer />
  </main>
</Layout>
