---
interface Props {
  class?: string;
  label: string;
}

import { ArrowRightIcon } from "@heroicons/react/24/solid";
const { label, class: className = "" } = Astro.props;
---

<button
  class:list={[
    "inline-flex items-center gap-1 border rounded-2xl px-4 py-1 border-gray-900 hover:bg-sky-600 hover:border-transparent hover:text-white",
    className,
  ]}
>
  {label}
  <ArrowRightIcon className="size-3 stroke-current" />
</button>
