---
interface Props {
  type: "events" | "news" | "research";
  tags?: string[];
}
const { type, tags = [] } = Astro.props;
---

<div class="flex items-center space-x-1">
  <span class="text-sm font-bold uppercase text-sky-600">{type}</span>
  <span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      class="size-4 stroke-gray-700/40"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="m9 20.247 6-16.5"
      ></path>
    </svg>
  </span>
  <div class="shrink flex flex-wrap gap-1">
    {
      tags.map((tag) => (
        <button class="text-sm bg-gray-100 border border-gray-200/70 px-2 py-0.5 rounded-lg">
          {tag}
        </button>
      ))
    }
  </div>
</div>
