---
const today = new Date();
---

<footer class="bg-sky-200">
  <div class="max-w-6xl mx-auto px-4 pt-16 pb-7 text-sky-700">
    <div class="flex justify-between">
      <div class="grid grid-cols-3 min-w-96">
        <nav class="flex flex-col space-y-1">
          <span class="text-sm font-bold mb-2">Cities</span>
          <a href="/singapore">Singapore</a>
          <a href="/nusantara">Nusantara</a>
          <a href="/putrajaya">Putrajaya</a>
        </nav>
        <nav class="flex flex-col space-y-1">
          <span class="text-sm font-bold mb-2">Sitemap</span>
          <a href="/events">Events</a>
          <a href="/news">News</a>
          <a href="/research">Research</a>
          <a href="/information">Information</a>
        </nav>
        <nav class="flex flex-col space-y-1">
          <span class="text-sm font-bold mb-2">Socials</span>
          <a href="#">Facebook</a>
          <a href="#">LinkedIn</a>
        </nav>
      </div>
      <div class="flex space-y-1 flex-col items-end text-right">
        <p class="text-sky-900 font-semibold text-[40px] leading-9 w-48">
          Capitals of the future
        </p>
        <p>Place, power, and<br />possibility in Southeast Asia</p>
      </div>
    </div>
    <div class="text-sky-600/60 text-sm mt-7">
      &copy; {today.getFullYear()} Capitals of the Future. All rights reserved.
    </div>
  </div>
</footer>
