---
import CardTags from "./CardTags.astro";
---

<article class="grid grid-cols-1 md:grid-cols-5 gap-x-10">
  <div class="col-span-1 md:col-span-2">
    <CardTags type="research" tags={["Singapore"]} />
    <h3 class="text-[22px] font-bold">
      Emerging Economies and Geopolitical Shifts: Analyzing the Strategic
      Dynamics of Asia in the 21st Century
    </h3>
    <p class="text-gray-500 mt-2">Smith, J. A., & Lee, M. R.</p>
    <p class="text-gray-500">Journal of Asian Studies, 83(2), 123-145.</p>
    <p class="text-gray-500 mt-6 hidden md:block">Aug 20, 2024 / 2 comments</p>
  </div>
  <div class="col-span-1 md:col-span-3">
    <p class="whitespace-pre-line">
      As Asia continues to assert itself as a central player in global economics
      and geopolitics, understanding the region's evolving dynamics is crucial
      for scholars and policymakers alike. This paper examines the multifaceted
      shifts occurring within Asia, focusing on the rise of emerging economies,
      the changing balance of power, and the impact of regional and
      international policies. Through a comprehensive analysis of economic
      trends, political developments, and strategic alliances, this study
      highlights the factors driving Asia’s transformation and explores the
      implications for global stability and economic growth. By integrating data
      from recent economic reports, geopolitical analyses, and case studies, the
      paper provides insights into how Asia’s evolving role influences
      international relations and economic strategies, offering a nuanced
      perspective on the region’s future trajectory.
    </p>
  </div>
  <p class="text-gray-500 mt-6 block md:hidden">Aug 20, 2024 / 2 comments</p>
</article>
