---
import type { CollectionEntry } from "astro:content";
import SectionHeader from "./SectionHeader.astro";
import Button from "./Button.astro";
import ResearchCard from "./ResearchCard";
import { RESEARCH_LATEST } from "consts";

type Props = {
  research: CollectionEntry<"research">[];
  city?: string;
};

const { research, city } = Astro.props;
---

<SectionHeader title={`Latest research${city ? ` on ${city}` : ""}`} />
<div class="grid grid-cols-1 gap-y-7 mt-6">
  {
    research
      .slice(0, RESEARCH_LATEST)
      .map((r) => <ResearchCard {...r} />)
  }
</div>
<a href={`/research${city ? `?city=${city}` : ""}`}>
  <Button
    label={`View ${city ? "" : "all "}research ${city ? ` on ${city}` : ""}`}
    class="mt-8 mb-16"
  />
</a>
