---
import { getCollection } from "astro:content";
import type { InferGetStaticPropsType, GetStaticPaths } from "astro";
import Layout from "layouts/Layout.astro";
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import ContentContainer from "@components/ContentContainer.astro";
import EventList from "@components/EventList.astro";
import { EVENTS_PER_PAGE } from "consts";

export const getStaticPaths = (async ({ paginate }) => {
  const allEvents = await getCollection("event");
  return paginate(allEvents, { pageSize: EVENTS_PER_PAGE });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { page } = Astro.props;
console.log(page.currentPage);
---

<Layout title="Events">
  <Navbar />
  <header class="pt-32 pb-6 relative">
    <div class="max-w-6xl px-4 mx-auto">
      <h1 class="font-bold text-5xl">Events</h1>
    </div>
  </header>
  <main>
    <ContentContainer class="min-h-lvh">
      <div class="max-w-6xl px-4 mx-auto">
        <EventList events={page.data} listOnly />
      </div>
    </ContentContainer>
  </main>
  <Footer />
</Layout>
