---
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import { Image } from "astro:assets";
import Layout from "layouts/Layout.astro";
import singapore from "@assets/putrajaya.jpg";
import { getCollection } from "astro:content";
import EventCard from "@components/EventCard.astro";
import ContentContainer from "@components/ContentContainer.astro";

const allEvents = await getCollection("event");
---

<Layout title="Events">
  <Navbar />
  <header class="pt-32 pb-6 relative">
    <div
      class="h-[50vh] w-full absolute top-0 left-0 -z-10 before:content-[''] before:absolute before:top-0 before:left-0 before:bottom-0 before:right-0 before:bg-black/60"
    >
      <Image src={singapore} alt="" class="object-cover w-full h-full" />
    </div>
    <div class="max-w-6xl px-4 mx-auto">
      <h1 class="font-bold text-5xl text-white">Events</h1>
    </div>
  </header>
  <main>
    <ContentContainer class="min-h-dvh">
      <div
        class="max-w-6xl px-4 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
      >
        {allEvents.map((event) => <EventCard {...event.data} />)}
      </div>
    </ContentContainer>
  </main>
  <Footer />
</Layout>
